<div class="chart-wrap">
  <h2>
    <u>
      Chart.Js
    </u>
  </h2>

  <h5>
    Chart.js is a free open-source JavaScript library for data visualization,
    which supports 8 chart types: bar, line, area, pie, bubble, radar, polar,
    and scatter.
  </h5>
  <div class="charts">
    <app-chart-bar-chart></app-chart-bar-chart>
    <app-chart-bubble-chart></app-chart-bubble-chart>
    <app-chart-doughnut-chart></app-chart-doughnut-chart>
    <app-chart-line-chart></app-chart-line-chart>
    <app-chart-pie-chart></app-chart-pie-chart>
    <app-chart-radar-chart></app-chart-radar-chart>
  </div>
</div>
