<div class="chart-wrap">
  <h2>
    <u>
      Plotly.Js
    </u>
  </h2>

  <h5>
    Built on top of d3.js and stack.gl, Plotly.js is a high-level, declarative
    charting library. plotly.js ships with over 40 chart types, including 3D
    charts, statistical graphs, and SVG maps. plotly.js is free and open source
    and you can view the source, report issues or contribute on GitHub.
  </h5>
  <div class="charts">
    <app-plotly-barchart></app-plotly-barchart>
    <app-plotly-bubblechart></app-plotly-bubblechart>
    <app-plotly-scatterplot></app-plotly-scatterplot>
    <app-plotly-map></app-plotly-map>
  </div>
</div>
