<div class="page-wrap">
  <!-- main -->
  <div class="main-content">
    <div class="title">
      <h2>Data Visualization Packages</h2>
      <button>Plotly.Js</button> <button>Chart.Js</button>
    </div>

    <div class="plotly-wrap">
      <h3>Plotly.Js</h3>
      <div class="charts">
        <app-plotly-barchart></app-plotly-barchart>
      </div>
    </div>

    <div class="chart-wrap">
      <h3>
        Chart.Js
      </h3>
      <div class="charts">
        <app-chart-bar-chart></app-chart-bar-chart>
        <app-chart-bubble-chart></app-chart-bubble-chart>
        <app-chart-doughnut-chart></app-chart-doughnut-chart>
        <app-chart-line-chart></app-chart-line-chart>
        <app-chart-pie-chart></app-chart-pie-chart>
        <app-chart-radar-chart></app-chart-radar-chart>
      </div>
    </div>
  </div>
</div>
